@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: black;
    color: white;
    overflow-x: hidden;
    /* -webkit-scr */
  }
}
/* body::-webkit-scrollbar {
  display: none;
} */

.text-gradient {
  background: linear-gradient(90deg, #6430fb, #b596fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-hover:hover {
  background: linear-gradient(90deg, #6430fb, #b596fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button-gradient {
  background: linear-gradient(90deg, #6430fb, #b596fd);
  border-width: 1px;
  border: 1px solid #000;
}

.button-gradient:hover {
  font-weight: 500;
  background: linear-gradient(90deg, #6430fb, #b596fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #6430fb;
}

.arrow-gradient {
  transition: color 0.3s ease;
}

.button-gradient:hover .arrow-gradient {
  color: #6430fb;
}

.button-without-gradient {
  background: none;
  border-width: 2px;
  border-color: #6430fb;
  background: linear-gradient(90deg, #6430fb, #b596fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.arrow-without-gradient {
  color: #6430fb;
}
.button-without-gradient:hover .arrow-without-gradient,
.button-without-gradient:hover {
  color: #fff;
}

.about-button {
  background: none;
  border-width: 2px;
  border-color: #6430fb;
}
.about-button:hover {
  background: linear-gradient(90deg, #6430fb, #b596fd);
}

.about-button .icon {
  color: #6430fb;
}

.about-button:hover .icon {
  color: #fff; /* Change icon color to white on hover */
}

.about-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add some hover effect */
}

.parent-about-hand {
  transition: transform 0.3s ease; /* Corrected the spelling of 'transform' */
}
.about-hand {
  transition: transform 0.3s ease-in-out;
}
.about-hand:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.know-more {
  background: linear-gradient(90deg, #6430fb, #b596fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 0.1s ease; /* Add transition for smooth color change */
}

.know-more:hover {
  color: white; /* Change text color to white on hover */
}

.know-more .know-more-arrow {
  color: #6430fb;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.know-more:hover .know-more-arrow {
  color: white; /* Change arrow color to white on hover */
}

.digital-gradient {
  background: linear-gradient(180deg, #45444b, #000000);
  background-clip: text;
  color: transparent;
}
.digital-gradient-top-bottom {
  background: linear-gradient(360deg, #45444b, #000000);
  background-clip: text;
  color: transparent;
}

.services-button {
  background: none;
  border-width: 2px;
  border-color: #6430fb;
  position: relative;
}

.services-button::after {
  content: "";
  position: absolute;
  top: -24px;
  right: -24px;
  border-bottom: 2px solid #6430fb;
  width: 46px;
  height: 46px;
  transform: rotate(45deg);
  background-color: #000;
}

.services-button:hover {
  background: linear-gradient(90deg, #6430fb, #b596fd);
}

.services-button:hover p:nth-child(3),
.services-button:hover p:nth-child(3) p {
  color: white;
}

.services-button:hover .icon {
  color: white;
}

.services-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.gradient-image {
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 4%,
    rgba(2, 0, 36, 1) 59%
  );
  position: relative;
  z-index: -10;
}

.top-gradient-image-top {
  /* position: absolute; */
  /* top: 30rem; */
  width: 95%;
  text-wrap: balance;
}
.top-gradient-image-bottom {
  /* position: absolute; */
  /* top: 59rem; */
  width: 95%;
  text-wrap: balance;
}

.services-button:hover .top-gradient-image-top p {
  color: white;
}
.services-button:hover .top-gradient-image-bottom p {
  color: white;
}

.hr-gradient {
  background: linear-gradient(180deg, #000000, #7e7b7b, #000000);
  height: 175px;
  width: 1px;
}
.teams-gradient {
  background: linear-gradient(to bottom, #322b4d, #030114);
}
.teams-parent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.ball-parent {
  transition: transform 0.3s ease-in-out;
}
.ball {
  transition: transform 0.3s ease-in-out;
}
.ball-parent:hover {
  cursor: pointer;
  transform: scale(1.6);
}
.image-gradient {
  position: relative;
}

.image-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #6430fb, #b596fd);
  mix-blend-mode: multiply; /* Apply blend mode to make gradient visible over image */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-gradient:hover::after {
  cursor: pointer;
  opacity: 1;
}
.image-gradient:hover {
  cursor: pointer;
}
.carousel-slider {
  width: 90% !important;
}
.insight-gradient,
.footer-gradient {
  background: linear-gradient(180deg, #312a49, #312a49, #030114);
  border-radius: 20px;
  padding: 40px 0px;
}
.insight-background {
  background-image: url("../../public/626a535ab6740813728d1070_index_decentralized-p-2000.png.png");
  /* background-position: bottom; */
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-input {
  background: linear-gradient(90deg, #6430fb, #b596fd);
  border: none;
  color: #fff;
}
.footer-input::placeholder {
  color: white;
}
.divider {
  height: 0.7px;
  background-color: rgb(56, 56, 56);
  margin: 10px auto;
}
.trending-right {
  right: 20px;
}
.footer-text-gradient {
  background: linear-gradient(90deg, #8f6cf7, #c0abf1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slick-dots li button:before {
  color: white !important;
  z-index: 100;
  margin-top: 20px;
  font-size: 12px !important;
}

.hero-carousel .slick-dots li button:before {
  display: none;
}

.others-say-bg {
  background: linear-gradient(180deg, #312a49, #312a49, #030114);
}

.others-say {
  border: 1px solid #3f3f46;
  border-bottom: 0;
  border-radius: 20px;
  padding: 28px;
  color: #cac6dd;
}
.third-carousel .slick-current {
  background: linear-gradient(180deg, #312a49, #312a49, #030114);
  border-radius: 20px;
  border: none;
}
.third-carousel .slick-slide {
  margin: 0 10px;
}
.third-carousel .slick-list {
  margin: 0 -10px;
}
.third-carousel {
  height: 34vh;
}
@media screen and (max-width: 800px) {
  .third-carousel .slick-slide {
    margin: 0;
  }
  .third-carousel {
    width: 80%;
    margin: 0px auto;
  }
  .button-without-gradient {
    background: none;
    border-width: 2px;
    border-color: #fff;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .third-carousel .slick-slide {
    margin: 0 4px;
  }
  .third-carousel {
    width: 90%;
    margin: 0px auto;
  }
}
